<template name="subscriber_add">
    <form id='#addbroadcast' action="">
        <div class="field has-addons is-grouped">
            
            <div class="field">
                <div class="control">
                  <input type='tel' class="input is-primary is-rounded" id='subscriber_phone' placeholder="Mobile">
                </div>
              </div>
            <div class="field">
                <div class="control">
                  <input type='email' class="input is-primary is-rounded" id='subscriber_email' placeholder="Email">
                </div>
              </div>

            <div class="control add-subscriber">
              <a class="button is-primary is-rounded" type="submit">
                Post
              </a>
            </div>
          </div>
          </form>
</template>