<template name="hello">
  <button class='button is-primary is-medium'>Click Me</button>

  <div class="card">
    <div class="card-content">
      <p class="title">
        Press the button and see how many times you did it ?
      </p>

    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          You pressed
        </span>
      </p>
      <p class=" is-danger card-footer-item">
        <span>
          {{counter}} times
        </span>
      </p>
    </footer>
  </div>

</template>