<template name="hello">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <button class='button is-rounded is-dark is-large is-outlined '>Click Me</button> and see how many times you did it ?
      </p>

    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          You Clicked
        </span>
      </p>
      <p class=" is-danger card-footer-item">
        <span>
          <span id='span_count' class='title'>{{counter}}</span> times
        </span>
      </p>
    </footer>
  </div>

</template>