<template name="broadcast">


    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="message is-success is-child">
                        <div class="message-header">
                            <p>Broadcasted: 01/15/2018</p>
                            <!-- <button class="delete" aria-label="delete"></button> -->
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus
                            ac ex sit amet fringilla.
                        </div>
                    </article>
                    <article class="message is-warning is-child">
                        <div class="message-header">
                            <p>Broadcasted: 02/15/2018</p>
                            <!-- <button class="delete" aria-label="delete"></button> -->
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus
                            ac ex sit amet fringilla.
                        </div>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="message is-warning is-child">
                        <div class="message-header">
                            <p>Broadcasted: {{dateyeartime '03/15/2018'}}</p>
                            <!-- <button class="delete" aria-label="delete"></button> -->
                        </div>
                        <div class="message-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus
                            ac ex sit amet fringilla. Nullam gravida purus diam, et dictum
                            <a>felis venenatis</a> efficitur. Aenean ac
                            <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
                            urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis
                            sodales sem.
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="message is-primary">
                    <div class="message-header">
                        <p>Broadcasted: {{moment '02/10/2018'}}</p>
                        <!-- <button class="delete" aria-label="delete"></button> -->
                    </div>
                    <div class="message-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex
                        sit amet fringilla. Nullam gravida purus diam, et dictum
                        <a>felis venenatis</a> efficitur. Aenean ac
                        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna
                        tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales
                        sem.
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Broadcasted: {{ moment '02/17/2018'}}</p>
                </div>
                <div class="message-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit
                    amet fringilla. Nullam gravida purus diam, et dictum
                    <a>felis venenatis</a> efficitur. Aenean ac
                    <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor
                    ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem. Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Labore porro saepe quae quod quia, ullam officia consequatur
                    doloribus repellat aperiam sunt suscipit nulla non at sed? Vel sed eligendi possimus.
                </div>
            </article>
        </div>
    </div>
    {{> broadcast_add}}
    <table class="table is-bordered is-striped is-narrow is-hoverable ">
        <thead>
            <tr>
                <th>
                    <abbr title="Title of the boradcast">Title</abbr>
                </th>
                <th>Body</th>
                <th> Owner </th>
                <th> Created At </th>
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
            {{#each broadcasts}}
            <tr>
                <th>{{title}}</th>
                <td>{{body}}</td>
                <td>{{owner}}</td>
                <td>{{ dateyeartime createdAt}}</td>
                <td>
                    <button class="delete"></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>