<template name='panel'>

    <nav class="panel">
        <p class="panel-heading">
          Welcome
        </p>
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input is-small" type="text" placeholder="search signals">
            <span class="icon is-small is-left">
              <i class="fa fa-search"></i>
            </span>
          </p>
        </div>
        <p class="panel-tabs">
          <a class="is-active">all</a>
          <a>Create</a>
          <a>Modify</a>
          <a>View Subscribers</a>
          <a>Broadcast</a>
        </p>
        <a class="panel-block is-active">
          <span class="panel-icon">
            <i class="fa fa-book"></i>
          </span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quae autem suscipit, itaque earum voluptatibus possimus! Vel, animi asperiores, repellat minus eum dolorem obcaecati aliquid corrupti aperiam expedita necessitatibus voluptatem!
        </a>
        <!-- <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-book"></i>
          </span>
          marksheet
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-book"></i>
          </span>
          minireset.css
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-book"></i>
          </span>
          jgthms.github.io
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-code-branch"></i>
          </span>
          daniellowtw/infboard
        </a>
        <a class="panel-block">
          <span class="panel-icon">
            <i class="fas fa-code-branch"></i>
          </span>
          mojs
        </a> -->
        <label class="panel-block">
          <input type="checkbox">
          remember me
        </label>
        <div class="panel-block">
          <button class="button is-link is-outlined is-fullwidth">
            reset all filters
          </button>
        </div>
      </nav>
</template>